.App {
    height: 100%;
    width: auto;
    text-align: center;
    background-image: url("../images/Island.jpg");
    transition: background 5s ease;
  }

.hero-text {
  color: #F2F2F2;
  font-size: 20em;
}