.ranking {
  text-align: center;
  color: #001021;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.ranking-list {
  list-style: none;
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ranking-item {
  display: grid;
  align-items: center;
  grid-template-areas:
    "number name wins"
    "info info info";
  grid-template-columns: 3em 10em 12em;
  grid-template-rows: 2em auto;
}

.number {
  background-color: #FCBA04;
  color: black;
  border-radius: 10%;
}